* {
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
a:hover .icon {
    fill: red;
}
/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px 70px 50px 32px;
    display: flex;
    align-items: center;
}
.menu {
    padding: 0;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 17px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.menu-item {
    background: #1F2022;
    display: block;
    height: 3px;
    width: 20px;
    border-radius: 20px;
}

.logo {
    margin-right: 59px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 22px;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.input-search {
    background-color: transparent;
    border: none;
    padding: 12px 23px;
}

.btn-search {
    width: 19px;
    height: 19px;
    padding: 0;
    border: none;
    cursor: pointer;
}
.search {
    width: 19px;
    height: 19px;
    fill: #000;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icon-link:not(last-child) {
    margin-right: 50px;
}
.icon-notification {
    opacity: 0.24;
}

/*aside menu*/
.container-menu {
    position: fixed;
    top: 114px;
    left: 0;
    height: calc(100% - 114px);
    width: 12%;
    overflow-y: auto;
    margin-left: 30px;
}
.sidebar {
    margin-bottom: 60px;
}
.nav-group {
    margin-bottom: 28px;
    list-style-type: none;
    padding: 0;
}
.nav-item {
    margin-bottom: 28px;
}
.nav-text {
    margin-left: 15px;
}
.nav-link {
    display: flex;
    align-content: center;
    margin-right: 13px;
    color: #898989;
}
.icon {
    fill: #898989;
}

/*aside subscriptions*/
.subscriptions-title {
    font-weight: bold;
}
.subscriptions-group {
    list-style-type: none;
    padding-left: 0;
}
.subscriptions-item {
    margin-bottom: 23px;
}
.subscriptions-link:hover {
    color: red;
}
.subscriptions-link {
    margin-left: 0;
    display: flex;
    align-items: center;
    color: #898989;
}
.user-text {
    margin-left: 10px;
}
.user-img {
    width: 26px;
    height: 26px;
}
.settings {
    margin-top: 105px;
    margin-bottom: 20px;
}
.settings-link {
    display: flex;
    align-content: center;
}
.settings-title {
    color: #898989;
    margin-left: 12px;
}


